# Environment files
.env
.env.docker

# Binary
url-shortener

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Dependency
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.log